.navbar {
  width: 100%;
}
.nav-container {
  margin: 0 auto;
  max-width: 1320px;
  display: flex;
  justify-content: flex-start;
  padding: 0.25rem;
  align-items: center;
}
.dp {
  font-size: 1rem;
}

.nav-links {
  font-size: 1rem;
  list-style: none;
  display: flex;
  gap: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4d4d4d;
}
